html, body {
	height: 100%;
}

body {
	background-color: #000;
	font-family: 'Roboto';
	overflow: hidden;
	margin: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
}

.header {
    height: 80px;
    background-color: #00a1e1;
    width: 100%;
    color: white;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding-left: 30px;
    box-shadow: 1px 2px 3px #222;
    z-index: 999;
    text-transform: uppercase;
}

.header img {
	margin-top: 2px;
	width: 38px;
	margin-right: 10px;
	position: absolute;
	left: 136px;
	top: 23px;
}

.header h1 {
	margin-right: 20px;
}

.header h4 {
	color: #73C4E4;
}

.gallery-main {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;

	min-height: 0; /*firefox fix for no scrollbar*/
}

.gallery-main.selected {
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-direction: row;
}

.gallery-selected-image-container {
	transition: all .33s ease-out;
	padding: 20px;
	display: none;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}

.gallery-main.selected .gallery-selected-image-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex: 2;
	-moz-flex: 2;
	flex: 2;
}

.gallery-selected-image {
	width: 100%;
}

ul.gallery-image-list {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	transition: all .33s ease-out;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	padding: 10px;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-direction: row;
	-webkit-flex-align-content: flex-start;
	-moz-flex-align-content: flex-start;
	align-content: flex-start;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
}

.gallery-main.selected ul.gallery-image-list {
	display: block;
	background-color: #111;
	-webkit-flex: 0.5;
	-moz-flex: 0.5;
	flex: 0.5;
}

.gallery-main.selected .gallery-image-list-toggle {
    content: '\f0da';
    background-color: #333;
    display: inline-block;
    position: fixed;
    right: 20%;
    top: 90px;
    font-family: FontAwesome;
    padding: 17px;
    color: #555;
    cursor: pointer;
}

.gallery-image-list .toggle-closed {
	display: none;
}

.gallery-image-list.closed .toggle-closed {
	display: inline-block;
}

.gallery-image-list .toggle-opened {
	display: inline-block;
}

.gallery-image-list.closed .toggle-opened {
	display: none;
}

.gallery-image-list.closed {
	display: none;
	-webkit-flex: 0 !important;
	-moz-flex: 0 !important;
	flex: 0 !important;
	overflow: hidden; /*fix for safari showing the scrollbar*/
}

.gallery-image-list.closed .gallery-image-list-toggle {
	right: 0px;
}

ul.gallery-image-list li {
	position: relative;
	overflow: hidden;
	/*min-height: 200px;*/
}

.gallery-image-container img {
	width: 100%;
	max-height: 400px;
	transition: .22s all ease-out;
	transform: scale(1, 1);
	opacity: 0.6;
	-webkit-backface-visibility: hidden; /*flicker fix*/
}

.gallery-image-container.selected {
	background-color: #0587dc;
}

.gallery-image-container.selected .image-title {
	color: #0587dc;
	opacity: 1;
}

.gallery-image-container:hover {
	cursor: pointer;
}

.gallery-image-container:hover img {
	position: relative;
	transform: scale(1.1, 1.1);
	z-index: 10;
	opacity: .95;
}

.image-title {
	display: inline;
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #fff;
	text-shadow: 1px 1px #000;
	transition: .15s all ease-out;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%);
	padding: 10px;
	width: 100%;
	opacity: 0.0;
}

.gallery-image-container:hover .image-title {
	bottom: 0px;
	left: 0px;
	font-size: 18px;
	z-index: 11;
	opacity: 1;
	color: #0587dc;
}